@use "base/variables" as v;
@use "base/mixins" as m;

.nav {
    display: flex;
    flex-direction: column;

    @include m.desktop {
        flex-direction: row;
    }

    &__link {
        color: v.$white;
        font-size: 2rem;
        padding: 2rem;
        font-weight: v.$boldest;
        text-transform: uppercase;
        text-align: center;

        &--current, &:hover {
            background-color: v.$white;
            color: v.$blue;
        }
    }
}