// Fonts

$main_font: 'Outfit', sans-serif;

// Media Queries Size

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colors

$blue: #007df4;
$secondary: #00c8c2;

$black: #1a1b15;
$white: #FFFFFF;
$gray: #64748B;
$lightGray: #F8FAFC;
$darkGray: #1E293B;

$red: rgb(169, 0, 0);
$green: #02db02;

// Fonts

$slim: 300;
$regular: 400;
$bold: 700;
$boldest: 900;