@use "base/variables" as v;
@use "base/mixins" as m;

.actions {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    &__link {
        color: v.$black;
        font-size: 1.4rem;
        font-weight: v.$slim;
    }

    &--center {
        @extend .actions;
        justify-content: center;
    }
}