@use "base/variables" as v;
@use "base/mixins" as m;

.form {
    display: flex;
    flex-direction: column;

    &__fieldset {
        border: none;
        margin-top: 1rem;
        padding: 0;
    }

    &__legend {
        color: v.$gray;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 0;
    }

    &__container-icon {
        display: flex;
        border-radius: .5rem;
        overflow: hidden;
    }

    &__icon {
        background-color: v.$darkGray;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: v.$white;
            font-size: 2rem;
        }
    }

    &__label {
        display: block;
        font-size: 1.8rem;
        color: rgba(v.$black, .8);
    }

    &__input, &__select {
        padding: 1rem;
        border: 1px solid darken(v.$lightGray, 20);
        border-radius: .5rem;

        &--file {
            border: none;
        }

        &--socials {
            @extend .form__input;
            flex: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &__radio {
        display: flex;
        gap: 2rem;
    }

    &__list {
        @include m.tags;
    }

    &__text {
        margin-top: 3rem;
    }

    &__img {
        max-width: 20rem;
    }

    &__submit {
        @include m.button(v.$blue, v.$white);
        border-radius: .5rem;
        width: auto;
        align-self: flex-start;

        &--add, &--full {
            width: 100%;
        }
    }
}